@import 'tailwindcss';

#root {
  font-family:
    system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  @apply w-full max-w-screen-2xl min-h-screen;
}

body {
  margin: 0;
  @apply flex flex-col items-center min-h-screen w-full;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

input::placeholder {
  @apply text-neutral-500;
}
input:focus {
  @apply outline-none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  @apply outline-none;
}

@media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #ffffff;
  }
}
