@import 'tailwindcss';

#root {
  font-family:
    system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  @apply w-full max-w-screen-2xl min-h-screen;
}

body {
  @apply flex flex-col items-center w-full m-0;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

input::placeholder {
  @apply text-neutral-500;
}
input:focus {
  @apply outline-none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  @apply outline-none;
}
.react-calendar {
  @apply w-[550px] bg-white text-black px-3 py-5 rounded-md;
}
.react-calendar__navigation {
  @apply mb-2;
}
.react-calendar__navigation__label {
  @apply text-lg;
}
.react-calendar__month-view__weekdays__weekday {
  @apply text-center;
}
.react-calendar__month-view__weekdays__weekday abbr {
  @apply no-underline;
}
.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-gray-400;
}
@media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  #root {
    color: #ffffff;
    background-color: #121212;
  }
}
